
bootstrap.servers=onlineauctionkafkahub.servicebus.windows.net:9093
security.protocol=SASL_SSL
sasl.mechanism=PLAIN
sasl.jaas.config=org.apache.kafka.common.security.plain.PlainLoginModule required username="$ConnectionString" password="Endpoint=sb://onlineauctionkafkahub.servicebus.windows.net/;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=21T2M2/p0p0nRx1j1CdFrCST9UJ9cTMdNKexXKIK92M=";